/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	/*body {
		background-color: red!important;
	}*/

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	/*body {
		background-color: green!important;
	}*/

	html[xmlns] .clearfix {
		display: table;
	}

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	/*body {
		background-color: deepskyblue!important;
	}*/
	.bg-content {
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	.header {
		background-image: none;
		border: 1px solid #BABABB;
		border-radius: 5px;
		box-shadow: 0px 4px 5px 0px rgba(186,186,187,0.75);
		width: 100%;
		height: 62px;
		margin-top: 10px;
	}

	.content {
		width: 94%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		min-width: 300px;
		max-width: 1024px;
	}

	.ficha h1 {
		float: left;
		font-size: 12px;
		color: #393939;
		/* padding-left: 16px; */
		padding-top: 12px;
	}

	.ficha .fondo-titulo {
		background-image: url(/images/bg_title2.png);
		padding-top: 0px;
		height: 110px;
		margin-bottom: 28px;
		margin-top: 10px;
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	.submenu {
		float: left;
		margin-top: 20px;
		padding-left: 16px;
	}

	.ficha h3 {
		float: left;
		font-size: 14px;
		color: #393939;
		font-weight: bold;
		padding-left: 16px;
		padding-top: 10px;
	}

	.left {
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
		margin-left: -15px;
	}

	.ficha .info h2 {
		font-size: 12px;
		padding-left: 10px;
		padding-right: 20px;
		max-width: 1024px;
		min-width: 300px;
		width: 83%;
	}

	.logo {
		margin-left: 0px;
	}

	.right {
		margin-top: 20px;
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	.box {
		margin-top: 20px;
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
		margin-left: 0px;
	}

	.box .titulo {
		text-align: center;
	}

	.box a.alquila {
		float: none;
	}
	.box a.vende {
		float: none;
	}

	.compartir a.share-fb {
		float: none;
		background-image: url(/images/btn_fb.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
	}

	.compartir a.share-email {
		float: none;
		background-image: url(/images/btn_share_email-mobile.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
		margin-right: 20px;
	}

	.compartir a.share-email:hover {
		float: none;
		background-image: url(/images/btn_share_email-mobile.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
		margin-right: 20px;
	}

	.compartir a.share-whatsapp {
		float: none;
		background-image: url(/images/btn_share_whatsapp-mobile.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
		height: 23px;
		margin-top: 12px;
		margin-bottom: 8px;
		display: inline-block;
		padding-top: 3px;
		padding-left: 36px;
	}

	.box .boton {
		text-align: center;
		padding-left: 0px;
	}

	.boton {
		text-align: center;
	}

	#gallery-mapas {
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	iframe {
		margin-top: 20px;
		min-width: 300px;
		width: 100%!important;
		max-width: 1024px;
		height: auto;
		margin-left: 0px;
	}

	.mobile-div {
		margin-top: 30px;
	}

	.modal-content {
		min-width: 481px;
		max-width: 767px;
		width: 96%;
		bottom: 12%;
	}

	.close {
		z-index: 999;
	}

	.prev, .next {
		top: 60%;
	}

	.img-lightbox {
		min-width: 200px;
		max-width: 1024px;
		width: 100%;
	}

	.close {
		top: initial;
	}

	.slider {
		min-width: 200px;
		max-width: 1024px;
	}

	.modal {
		padding-top: 50px;
	}
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	/*body {
		background-color: purple!important;
	}*/

	.bg-content {
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	.header {
		background-image: none;
		border: 1px solid #BABABB;
		border-radius: 5px;
		box-shadow: 0px 4px 5px 0px rgba(186,186,187,0.75);
		width: 100%;
		height: 62px;
		margin-top: 10px;
	}

	.content {
		width: 94%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		min-width: 300px;
		max-width: 1024px;
	}

	.ficha h1 {
		float: left;
		font-size: 12px;
		color: #393939;
		/* padding-left: 16px; */
		padding-top: 12px;
	}

	.ficha .fondo-titulo {
		background-image: url(/images/bg_title2.png);
		padding-top: 0px;
		height: 110px;
		margin-bottom: 28px;
		margin-top: 10px;
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	.submenu {
		float: left;
		margin-top: 20px;
		padding-left: 16px;
	}

	.ficha h3 {
		float: left;
		font-size: 14px;
		color: #393939;
		font-weight: bold;
		padding-left: 16px;
		padding-top: 10px;
	}

	.left {
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
		margin-left: -15px;
	}

	.ficha .info h2 {
		font-size: 12px;
		padding-left: 10px;
		padding-right: 20px;
		max-width: 1024px;
		min-width: 300px;
		width: 83%;
	}

	.logo {
		margin-left: 0px;
	}

	.right {
		margin-top: 20px;
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	.box {
		margin-top: 20px;
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
		margin-left: 0px;
	}

	.box .titulo {
		text-align: center;
	}

	.box a.alquila {
		float: none;
	}
	.box a.vende {
		float: none;
	}

	.compartir a.share-fb {
		float: none;
		background-image: url(/images/btn_fb.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
	}

	.compartir a.share-email {
		float: none;
		background-image: url(/images/btn_share_email-mobile.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
		margin-right: 20px;
	}

	.compartir a.share-email:hover {
		float: none;
		background-image: url(/images/btn_share_email-mobile.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
		margin-right: 20px;
	}

	.compartir a.share-whatsapp {
		float: none;
		background-image: url(/images/btn_share_whatsapp-mobile.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 0px;
		height: 23px;
		margin-top: 12px;
		margin-bottom: 8px;
		display: inline-block;
		padding-top: 3px;
		padding-left: 36px;
	}

	.box .boton {
		text-align: center;
		padding-left: 0px;
	}

	.boton {
		text-align: center;
	}

	#gallery-mapas {
		min-width: 300px;
		width: 100%;
		max-width: 1024px;
	}

	iframe {
		margin-top: 20px;
		min-width: 300px;
		width: 100%!important;
		max-width: 1024px;
		height: auto;
		margin-left: 0px;
	}

	.mobile-div {
		margin-top: 30px;
	}

	.modal-content {
		min-width: 300px;
		width: 98%;
		max-width: 1024px;
		top: 22%;
	}
	.close {
		z-index: 999;
	}

	.prev, .next {
		top: 70%;
	}

	.img-lightbox {
		min-width: 200px;
		max-width: 1024px;
		width: 38%!important;
	}

	.close {
		top: initial;
	}

	.slider {
		min-width: 200px;
		max-width: 1024px;
		min-height: 200px;
		background-size: cover;

	}

	.modal {
		padding-top: initial;
	}
}